<div class="card h-100 shadow-sm">
    <div class="card-body d-flex flex-column">
        <h6 class="text-uppercase">{{schedule.firstName + " " + schedule.lastName}}</h6>
        <span><strong>Date of Birth:</strong></span>
        <span class="mb-2">{{schedule.dateOfBirth | date}}</span>
        <span><strong>Appointment Time:</strong></span>
        <span class="mb-2">{{schedule.appointmentTime | date:'medium'}}</span>
        <span><strong>Notes:</strong></span>
        <span class="mb-2">{{schedule.notes}}</span>
        <button type="button" class="btn btn-primary" 
            routerLink="/schedule/{{schedule.appointmentId}}">
            Edit
        </button>
    </div>
</div>
