<div class="container mt-3">
    <div class="row">

        <section class="col-3">
            <h5 class="text-secondary ml-3 mt-4 mb-3">Appointments From:</h5>
            <input type="datetime-local" (change)="onDateChanged($event.target.value)">
            
            <h5 class="text-secondary mt-3 ml-3">Patients:</h5>
            <select class="custom-select mb-4" (change)="onPatientSelected($event.target.value)">
                <option *ngFor="let patient of patients" [value]="patient.id">
                    {{patient.firstName + " " + patient.lastName}}
                </option>
            </select>
        </section>

        <section class="col-9">
            <div class="row mx-1 my-3">
                <button type="button" class="btn btn-primary" routerLink="/schedule/0">
                    New Appointment
                </button>
            </div>
            <ng-container *ngIf="schedules">            
                <div class="row">
                    <div class="col-4 mb-4" *ngFor="let item of schedules">
                        <app-schedule-item [schedule]="item"></app-schedule-item>
                    </div>
                </div>
            </ng-container>
        </section>
    </div>
</div>
