<div class="d-flex flex-column flex-md-row align-items-center justify-content-between
    p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h3 class="my-0 mr-md-auto font-weight-normal" routerLink="/" routerLinkActive="active">
      Patients Appointments
    </h3>
    <nav class="my-2 my-md-0 mr-md-3" style="font-size: larger">
      <a class="p-2 text-dark" routerLink="/schedule" routerLinkActive="active">Schedules</a>
      <a class="p-2 text-dark" href="#">Patients</a>
      <a class="p-2 text-dark" href="#">Appointments</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Log in</a>
  </div>
